/* Forcing a color change to the navbar */
/* to whatever needs a blue */
.cooloor{
  background-color: #1889DE !important;
}

.greys{
  background-color: #D6D6D6 !important;
  width:100%;
  height: 100%
}

.cov{
  height: 100vh;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

.covers{
  height: 100vh;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
}

.pad{
  padding-top: 5vh;
  overflow: hidden;

}

.delSides{
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 3vh;
  padding-bottom: 3vh;
}
